rootfs.ext4
deploy.ext4
rootfs.ext4.bak
vmlinux*
perf-*/
perf_*.log
firecracker
backend_things/other_caddys_save_for_later/Caddyfile-local
backend_things/other_caddys_save_for_later/other caddy
/backend_things/data/
/backend_things/logs/
/backend_things/venv/

__pycache__/
/backend_things/notes.txt



frontend_things/notes.txt

node_modules/
package-lock.json
build/
.env
.env.local
.env.*.local
.DS_Store
*.log
npm-debug.log*
.vite/
.react-router/

.venv
venv

data
